@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.email-cta-masthead {
	margin-top: -10rem;

	.masthead-main-content {
		background: var(--pcm-light-gray);
		padding: 10rem 2rem 4rem 2rem;

		input {
			border-radius: 8px;
			height: 50px;
			width: 55%;
			border: 1px solid var(--pcm-black);

			&::-webkit-input-placeholder {
				position: absolute;
				left: 6px;
				top: 5px;
				font-size: 16px;
			}
		}

		button {
			width: 30%;
			border: 0;
		}

		h2 {
			@include font-size(4rem);
			text-align: center;
			font-weight: 500;
			@include media-breakpoint-up(lg) {
				font-size: 57px;
				text-align: left;
			}
		}

		p {
			@include media-breakpoint-up(lg) {
				text-align: left;
			}
			@include media-breakpoint-down(lg) {
				margin: 0 auto;
			}
			text-align: center;
			font-size: 20px;
			width: 80%;
		}

		.imgCol {
			text-align: center;

			img {
				width: 80%;
			}
		}
	}

	.marquee {
		background: var(--pcm-blue);

		div {
			color: white;
			text-align: center;
			font-size: 20px;
			font-weight: 500;
		}
	}

	&__form {
		@include media-breakpoint-down(lg) {
			margin: 3rem 0;
			button {
				width: 80% !important;
			}
			input {
				width: 80% !important;
			}
			text-align-last: center;
		}
	}
}
