/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.three-testimonials {
	.col {
		flex: 1;
		border-color: #edeef2;
		border-width: 1px;
		border-style: solid;
		border-radius: 8px;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
	}

	.quotation {
		position: absolute;
		z-index: 1;
		margin-top: -3%;
		margin-left: -1%;
	}

	.testName {
		font-size: 18px;
		font-weight: 500;;
	}

	.testBusName {
		font-size: 16px;
		color: var(--pcm-gray);
	}

	p {
		font-size: 18px;
		position: relative;
		z-index: 2;
	}

	h2 {
		font-size: 16px;
		font-weight: 800;
	}

	h3 {
		font-size: 48px;
		font-weight: 500;
	}
}
