@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.fullwidth-cta {

	background: var(--pcm-light-gray);

	.form-group {
		margin: 0 auto;
		@include media-breakpoint-up(md) {
			width: 35%;
			min-width: 400px;
		}
		@include media-breakpoint-up(lg) {
			width: 22%;
		}
		@include media-breakpoint-up(xl) {
			width: 22%;
		}
	}

	input {
		border-radius: 8px;
		height: 50px;
		border: 1px solid var(--pcm-black);
		width: 100%;
	}

	button {
		border: 0;
		font-size: 17px;
	}

	h2 {
		max-width: 1200px;
		@include font-size(4rem);
		font-weight: 500;
		@include media-breakpoint-up(lg) {
			width: 45%;
		}
		@include media-breakpoint-up(md) {
			font-size: 48px;
			width: 60%;
		}
	}

	h3 {
		@include font-size(2.5rem);

		@include media-breakpoint-up(md) {
			font-size: 36px;
		}
	}
}
