/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.fullwidth-cta {

	background: var(--pcm-light-gray);

	input {
		border-radius: 8px;
		height: 50px;
		width: 22%;
		border: 1px solid var(--pcm-black);

		&::-webkit-input-placeholder {
			position: absolute;
			left: 6px;
			top: 5px;
			font-size: 16px;
		}
	}

	button {
		border: 0;
		font-size: 17px;
	}

	h2 {
		font-size: 48px;
		font-weight: bold;
		width: 45%;
	}

	h3 {
		font-size: 36px;
	}
}
