:root {
    --pcm-light-gray: #EDF2FC;
    --pcm-pink: #E62781;
    --pcm-black: #343F52;
    --pcm-gray: #60697B;
    --pcm-light-blue: #F5F5FC;
    --pcm-light-yellow: #FEF3E4;
    --pcm-off-white: #EAF3EF;
    --pcm-peach: #FAE6E7;
    --pcm-baby-blue: #E0E9FA;
    --pcm-blue: #3F78E0;
    --pcm-dark-blue: #272F3C;
}
