@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

input {
	&::placeholder {
		position: relative !important;
		top: 0 !important;
	}
}

.form-group {
	position: relative;
	min-height: 3.5em;
}

input {
	padding: 20px 8px 0px;
}

input.form-control {
	height: 3em;
	position: absolute;
	top: 0;
	left: 0;
}

label.form-control-label {
	position: absolute;
	font-size: .9rem;
	top: 5px;
	left: 7px;
	font-weight: 400;
	color: var(--pcm-gray);
}

@include media-breakpoint-down(lg) {
	.smallpaddingonmobile {
		padding-left: 50px !important;
		padding-right: 50px !important;
		max-width: unset !important;

		*:not(img) {
			max-width: unset !important;
		}
	}
	.smallmarginonmobile {
		margin-left: 25px !important;
		margin-right: 25px !important;
		width: unset !important;
	}
}

.masthead {
	margin-top: 6rem;
	padding-top: 10rem;
}

.same-flex-height {
	flex: 1 0 0%;
}

.card-img-contain {
	height: 50%;
	object-fit: contain;
	padding: 25px;
	align-content: center;
}

.card {
	&-shadow {
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
	}

	&-rounded {
		border-radius: 8px;
	}

	&-hover {
		// hover effect for card as full link
		&:hover {
			cursor: pointer;
			transition: all 0.3s;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-5px);
		}
	}
}

.features {
	.card {
		&-img-top {
			max-height: 200px;
			object-fit: contain;
		}

		&-body {
			height: 50%;
		}
	}
}

.dropdown-toggle::after {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	margin: -0.2em 0 0 0.4em;
	vertical-align: middle;
	content: "";
	border: 0.3em solid;
	border-width: 0 0.15em 0.15em 0;
	transform: rotateZ(45deg);
	color: var(--pcm-pink);
}
