@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@include media-breakpoint-down(lg) {
	.smallpaddingonmobile {
		padding: 20px !important;
	}
}

.masthead {
	margin-top: 6rem;
	padding-top: 10rem;
}

.same-flex-height {
	flex: 1 0 0%;
}

.card-img-contain {
	height: 70%;
	object-fit: contain;
	padding: 25px;
}

.card {
	&-shadow {
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
	}

	&-rounded {
		border-radius: 8px;
	}
}

.dropdown-toggle::after {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	margin: -0.2em 0 0 0.4em;
	vertical-align: middle;
	content: "";
	border: 0.3em solid;
	border-width: 0 0.15em 0.15em 0;
	transform: rotateZ(45deg);
	color: var(--pcm-pink);
}
