@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

#footer {
	background-color: var(--pcm-black);

	.widget-title {
		color: white;
		font-size: 18px;
		font-weight: 500;;
		margin-bottom: 10px;
	}

	.menu-item a {
		color: white;
		font-size: 16px;
		text-decoration: none;
	}

	ul {
		padding-left: 0;
	}

	#copyright {
		background: var(--pcm-dark-blue);
		border-top: 1px solid white;
		padding: 10%;

		p {
			color: white;
		}
	}

	.wp-block-buttons {
		justify-content: space-around;
		width: 75%;
	}

	@include media-breakpoint-down(lg) {
		.wp-block-buttons {
			margin: 0 auto;
		}
	}
}
