@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

#header {

  .menu-item {
    margin: auto 10px;
    color: var(--pcm-black);
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
  }

  .dropdown-menu {
    border-radius: 0 8px 8px 8px;
    padding: 10px 0 0 0;
    width: auto;
    border: 0;
    top: 50px;
    background: var(--pcm-light-blue);
    /* animate dropdown */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  @include media-breakpoint-down(lg) {
    .menu-item {
      &-container {
        height: 40px;

        &:last-child {
          margin-top: 10px;
        }

        &.dropdown {
          min-height: 40px;
          height: unset;
        }
      }
    }
    .sub-menu {
      .menu-item-container:last-child {
        margin-top: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .no-pill {
      height: 100%;
      display: block;
    }

    .menu-header-menu-container {
      height: 200%;
    }

    .nav {
      height: 100%;
    }

    .navbar-collapse {
      height: 80px;
      line-height: 40px;
      padding-top: 50px;
    }

    .menu-item-container {
      line-height: 100%;
    }

    .submenu-item-container {
      line-height: 200%;
      width: 100%;
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* remove the gap so it doesn't close */
    }
  }
}